
h1{

  color:white;
    text-align: center;
}

















/*
body{
    background-color: rgb(9, 9, 68);
    margin-top: 50px;
    margin-bottom: 20px;
}

h1{

    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;

}
h5{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
p{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

  .f{
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 42%;
   transform: (-50%,0);
}

.s{
    align-items: center;
   justify-content: center;
   position: absolute;
   left: 42%;
   transform: (-50%,0);

}
.e{
    align-items: center;
   justify-content: center;
   position: absolute;
   left: 42%;
   transform: (-50%,0);
}
.sign{
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
    transform: (-50%,0);

    color: black;
    background-color: orange;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    width: 100px;

}
.left{
    height: 570px;
    width: 40px;
    float: left;
    background-color: rgb(14, 233, 160);
}
.right{
    height: 570px;
    width: 40px;
    float: right;
    background-color: rgb(14, 233, 160);
}
*/
/*
.footer{
    clear: both;
    height: 200;
    background-color: rgb(14, 233, 160);
    
   
}*/
/*footer{
    background-color: rgb(14, 233, 160);
    padding: 1.5%;
}
*/
/*
signin project:)

body{
    background-color: darkblue;
    margin-top: 50px;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    color: white;
}
.log{
    color: greenyellow;
}
.SingInBox{
    background-color:white;
    padding: 20px;
    margin-bottom: 50px ;
    text-align: center;
    width: 300px;
    margin:0 auto ;
    padding: 60px ;
}
h1{
    margin: 0;
    padding: 0 0 20px;
}
.SingInBox p{
    margin: 0;
    text-align: left;
    color: grey;
    font-weight: bold;
}
.SingInBox input{
    width:110%;
    height: 200%;
    margin-bottom: 20px;

    border: 2px solid gainsboro;
    border-radius: 5px;
    
}



.sub{
    background-color: seagreen;
border: none;
font-size: 25px;
padding: 20px;
border-radius: 10px;
color: white;
text-decoration: none;
cursor: pointer;
}

.sub:hover{
    color: aliceblue;
    background-color: brown;
}
*/





